# Examples
#*.log to do everything ending in log
#venv/ to do a whole folder
#input/*.xlsx to do all file types in a folder
*/__pycache__/
.vscode/
env/
.venv/
*/napari_paths.json
*/selected_paths.txt
.history/
logs/
.claude/
.pixi/
github_token.txt
tools/
models/*
!models/sam2.1_hiera_s.yaml
!models/sam2.1_hiera_small.pt
!models/2d_high_quality_model
!models/2d_low_quality_model